.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .stars {
    gap: 5px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}
