@import '../color/Color.scss';

.kasa-error {
  color: $primary-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 280px;
    margin: 20px;
  }
  h2 {
    margin: 20px;
    font-size: 36px;
  }
  a {
    padding: 10px 15px;
    color: $primary-color;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    &:hover {
      text-decoration: underline $primary-color;
    }
  }
}
