@import '../color/Color.scss';

.accordion {
  max-width: 80%;
  margin: 2rem auto;
}

.accordion-item {
  margin: 25px 0;
  background-color: $fourth-color;
  border-radius: 10px;
}

.accordion-title {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  h2 {
    margin: 0;
    color: $secondary-color;
  }
}

.accordion-content {
  color: $primary-color;
  max-height: 0;
  font-size: 20px;
  padding: 0 18px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s ease;
}

.animation {
  max-height: 300px;
  padding: 18px;
}

.chevron-nonActive {
  width: 20px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in;
}
.chevron-active {
  width: 20px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .accordion {
    margin: 25px 0;
    max-width: 100%;
  }
  .accordion-title {
    padding: 0.6em;
    h2 {
      font-size: 16px;
    }
  }
  .accordion-content {
    font-size: 15px;
  }
}
