@import '../color/Color.scss';

.accordion {
  max-width: 80%;
  margin: 2rem auto;
}

.accordion-item {
  margin: 25px;
}

.accordion-title {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  h2 {
    margin: 0;
    color: $secondary-color;
  }
}

.accordion-content {
  height: 10px;
  background-color: $fourth-color;
  color: $primary-color;
  font-size: 18px;
  padding: 0 18px;
  border-radius: 10px;
  opacity: 0;
  transition: height 0.3s linear, opacity 0.1s ease-in, padding 0.2s ease-in;
}

.animated {
  height: auto;
  opacity: 1;
  padding: 18px;
  transition: height 0.3s ease-in, opacity 0.5s ease-in, padding 0.2s ease-in;
}

.chevron-nonActive {
  width: 20px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in;
}
.chevron-active {
  width: 20px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
